@model Onbooks_3Ds.Models.Cadastro_endereco
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Login ADM</title>
</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <div class="img"><img src="~/img/yett.png" alt="" height="90px"></div>
                    <h2 class="title">Agora Cadastre seu endereço</h2>
                    <hr class="LINHA">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Cep" id="cep" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="Endereço" id="endereco" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="Numero" id="numero" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="Bairro" id="bairro" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Cidade" id="cidade" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Estado" id="estado" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Complemento" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Cidade" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />



                </form>
            </div>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">


            </div>
            <img src="~/img/Work time-amico.svg" class="image" />
        </div>

    </div>
    </div>

    <script src="~/js/login.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
</body>
</html>
